
a{
    text-decoration: none;
}
footer{
	position:fixed;
	
	bottom:0;
}

html{
	height:100%;
	
}

body {
	position:relative;
	
	overflow:auto;
}


.book-img {
    background-color: black;
    border: none;
    opacity: 1;
    transition: 0.3s;
}
.book-img:hover{
    opacity: 0.6;
    cursor: pointer;
}

.book-text{
	opacity:0;
	background-color:black;
}

.book-text:hover{
	opacity:0.5
}