.primary-color {
    color: #4a65bc!important
}

.primary-fill {
    fill: #4a65bc!important
}

.primary-background {
    background-color: #4a65bc
}

.primary-border {
    border-color: #4a65bc
}

.primary-font {
    color: #fff
}

.primary-font-highlight-box:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    opacity: .08
}

.primary-font-highlight-box:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px dashed #fff;
    opacity: .28
}

.secondary-font-highlight-box:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .08
}

.secondary-font-highlight-box:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px dashed #000;
    opacity: .28
}

.Hero .Hero-banner {
    background: #4a65bc!important
}

.Hero .Hero-collectionInfo,.Hero .Hero-collectionTitleLink,.Hero .Hero-seeAll {
    color: #fff
}

.available-title a {
    color: #000
}

.title-container.card .title-contents .available-title:not(.unavailable-title) a {
    color: #000
}

.Campaign {
    background: #4a65bc!important
}

.Campaign-authorContainer a,.Campaign-description a,.Campaign-featuredTitleContainer a,.Campaign-linkContainer a,.Campaign-titleContainer a {
    color: #fff
}

.Campaign-authorContainer a:hover,.Campaign-description a:hover,.Campaign-featuredTitleContainer a:hover,.Campaign-linkContainer a:hover,.Campaign-titleContainer a:hover {
    color: #fdb201
}

.Campaign-title {
    color: #fff
}

.Campaign-monochrome-svg {
    fill: #fff
}

.Campaign-featuredTitle,.Campaign-featuredTitle:hover {
    color: #fff
}

.Campaign-author,.Campaign-author:hover {
    color: #fff
}

.Campaign-author:hover,.Campaign-learnMoreLink {
    color: #fff
}

.Campaign-description {
    color: #fff
}

.Campaign-audiobookLink,.Campaign-audiobookLink:focus,.Campaign-audiobookLink:hover {
    color: #fff
}

.Loans-learnMoreLink {
    color: #4a65bc!important
}

.Loans-learnMoreLink:hover {
    color: #fdb201!important
}

.TitleDetailsDescription-infoTab.is-active {
    border-bottom: 3px solid #4a65bc
}

.TitleDetailsDescription-infoTab.is-active .TitleDetailsDescription-infoTabLink {
    color: #4a65bc
}

.TitleDetailsDescription-infoTab:hover .TitleDetailsDescription-infoTabLink {
    color: #fdb201
}

.Button-recommend,.button.place-a-hold.Button-holdButton {
    background: #fdb201!important;
    border: 2px solid #fdb201!important;
    color: #000!important
}

.Button-recommend:hover,.button.place-a-hold.Button-holdButton:hover {
    background: #f3a800!important;
    border: 2px solid #f3a800
}

.AccountPageMenu-tabListItem {
    border-color: #4a65bc!important
}

.AccountPageMenu-tab.is-active {
    color: #4a65bc
}

.AccountPageMenu-tab.is-active:hover {
    border-color: #fdb201!important
}

.primary-color-hover:hover {
    color: #4a65bc!important
}

.primary-color-focus:focus {
    color: #4a65bc!important
}

.secondary-color {
    color: #fdb201!important
}

.secondary-fill {
    fill: #fdb201!important
}

.secondary-color-hoverable {
    color: #fdb201
}

.secondary-color-hoverable:focus,.secondary-color-hoverable:hover {
    color: #ca8e00
}

.secondary-background {
    background: #fdb201!important;
    color: #000!important
}

.secondary-color-hover:hover {
    color: #fdb201!important
}

.secondary-background-hover:hover {
    background: #fdb201!important
}

.secondary-color-focus:focus {
    color: #fdb201!important
}

.secondary-border-color {
    border-color: #fdb201!important
}

.secondary-hover-underline {
    color: #fdb201!important
}

.secondary-hover-underline:hover {
    color: #fdb201!important;
    text-decoration: underline
}

a {
    color: #4a65bc
}

a:focus,a:hover {
    color: #fdb201
}

.link-button {
    color: #4a65bc
}

.link-button:focus,.link-button:hover {
    color: #fdb201
}

.button.secondary {
    background-color: #fdb201;
    color: #000
}

.button.primary {
    background-color: #4a65bc;
    color: #fff
}

.button.primary:focus,.button.primary:hover {
    background-color: #405bb2
}

.button.secondary:focus,.button.secondary:hover {
    background-color: #f3a800;
    color: #000
}

.button.outline {
    border: 2px solid #4a65bc;
    color: #4a65bc
}

.button.outline:hover {
    background: #4a65bc;
    color: #fff!important
}

.button.outline:focus {
    background: #4a65bc;
    color: #fff!important
}

.button.no-outline {
    color: #4a65bc
}

.button.no-outline:hover {
    color: #fff;
    background: #4a65bc
}

.button.no-mobile-hover:not(.Facets-showMobileFacets) {
    color: #4a65bc!important;
    background: 0 0!important
}

.SettingsPage-checkbox:checked .SettingsPage-settingsLabel.is-checkbox:before {
    color: #fdb201
}

.RecommendModal-inputLabel:before:checked {
    color: #fdb201
}

input.check[type=radio]:checked+label:before {
    color: #fdb201
}

.spinner {
    border-bottom: 4px solid rgba(0,0,0,.2);
    border-left: 4px solid rgba(0,0,0,.2);
    border-right: 4px solid rgba(0,0,0,.2);
    border-top: 4px solid rgba(0,0,0,.8)
}

.MergedSite .Header,.nav-container {
    border-top: 4px solid #fdb201;
    background-color: #fff
}

.notificationDotContainer {
    background-color: #fff
}

.BrowseFormats .BrowseFormats-link.is-active:after,.BrowseFormats .BrowseFormats-link:after {
    background-color: #4a65bc
}

a.sign-in,a.sign-in-mobile {
    background: #fdb201!important
}

.MobileNav-advantageToutSignin {
    background: #fdb201!important
}

a.sign-in-mobile:hover,a.sign-in:hover {
    background: #f3a800!important
}

.MobileNav-advantageToutSignin:hover {
    background: #f3a800!important
}

.icon-account.expanded {
    color: #fdb201!important
}

.top-bar-section ul li {
    color: #222;
    background: #fff
}

.top-bar-section ul li:hover {
    color: #fdb201;
    background: #fff
}

.top-bar-section ul:not(.open) li:not(.has-form) a:not(.button):not(.close-advantage-tout) {
    color: #222;
    background-color: #fff
}

.notification-bell-svg {
    fill: #222;
    stroke: #222
}

.top-bar-section ul:not(.open) li:not(.has-form) a:not(.button):not(.close-advantage-tout):hover {
    color: #fdb201;
    background-color: #fff
}

.top-bar-section ul .open li:not(.has-form) a:not(.button):not(.close-advantage-tout) {
    color: #222;
    background-color: #fff
}

.top-bar-section ul .open li:not(.has-form) a:not(.button):not(.close-advantage-tout):hover {
    color: #fdb201;
    background-color: #fff
}

.top-bar-section li:not(.has-form) a:not(.button) {
    color: #222;
    background-color: #fff
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    color: #fdb201;
    background-color: #fff
}

.content.f-dropdown div h2,.content.f-dropdown div li h2 {
    color: #4a65bc
}

.content.f-dropdown div li span a,.content.f-dropdown div span a {
    color: #fdb201
}

.accordion-navigation.active a {
    color: #fdb201
}

.TitleFulfillmentModal .loan-button-audiobook .accordion .accordion-navigation a.primary,.accordion-navigation.active a.primary {
    color: #fff
}

.title-details .loan-button-audiobook .accordion .accordion-navigation a.primary {
    color: #000
}

.title-details .loan-button-audiobook .accordion .accordion-navigation a.primary:focus {
    box-shadow: none;
    color: #fff
}

.title-details .loan-button-audiobook .accordion .accordion-navigation a.primary:hover {
    color: #fff
}

.content.active ul li a:hover {
    color: #fdb201!important
}

.top-bar.expanded .toggle-topbar.menu-icon {
    color: #fdb201
}

nav.top-bar {
    background-color: #fff
}

nav.top-bar li.search-icon i.expanded {
    color: #fdb201
}

.top-bar.expanded .toggle-topbar.browse a {
    color: #fdb201
}

ul.account-menu li.active a {
    color: #4a65bc
}

ul#lending-period-options-mobile.f-dropdown li a:after,ul#lending-period-options-mobile.f-dropdown li a:hover,ul#lending-period-options.f-dropdown li a:after,ul#lending-period-options.f-dropdown li a:hover {
    color: #fdb201
}

ul.pagination li.current a,ul.pagination li.current button {
    color: #4a65bc;
    border: 2px solid #4a65bc
}

ul.pagination li.current a:focus,ul.pagination li.current a:hover,ul.pagination li.current button:focus,ul.pagination li.current button:hover {
    background: #4a65bc
}

.Toaster-toast:not(.is-burnt),.sample-only-banner {
    background-color: #fdb201;
    color: #000
}

.sample-only-banner__message h1,.sample-only-banner__message h2,.sample-only-banner__message h3,.sample-only-banner__message h4,.sample-only-banner__message h5,.sample-only-banner__message h6 {
    color: #000
}

.Toaster-message a,.sample-only-banner__message a {
    color: #000;
    border-bottom-color: #000
}

.Toaster-message a:hover,.Toaster-toast a:focus,.sample-only-banner__message a:focus,.sample-only-banner__message a:hover {
    color: #000;
    border-bottom: 1px solid #000
}

div.skip-links {
    background-color: #fdb201
}

.Skip-Links .SkipLinks-link {
    color: #000
}

.media-container.list-view ul li .title-container .title-contents .title-header-bar.available-title a {
    color: #000;
    background: #fdb201
}

.media-container.list-view ul li .title-container div.title-description a.expand-description {
    color: #fdb201
}

.media-container.list-view ul li .title-container div.title-description a.expand-description:hover {
    color: #f3a800!important
}

.media-container .more-actions:focus i:before,.media-container .more-actions:hover i:before,.more-actions-container.holds .more-actions.open i:before,.more-actions-container.holds .more-actions:focus i:before,.more-actions-container.holds .more-actions:hover i:before {
    color: #fdb201!important
}

.title-container .title-contents .more-actions.dot-menu.open i:before,.title-container .title-contents .more-actions.dot-menu:hover i:before {
    color: #000!important
}

.view-as-grid,.view-as-grid:focus,.view-as-grid:focus i:not(.gray),.view-as-grid:hover,.view-as-grid:hover i:not(.gray),.view-as-list,.view-as-list i:not(.gray),.view-as-list:focus .view-as-grid i:not(.gray),.view-as-list:focus i:not(.gray),.view-as-list:hover,.view-as-list:hover i:not(.gray) {
    color: #fdb201!important
}

.mobile-nav-wrapper .mobile-nav-menu ul li a:not(#account-nav-heading):not(#featured-collections-heading):not(#account-heading):not(#language-accordion-heading):not(.sign-in-mobile):hover {
    color: #fdb201
}

.accordion-navigation .content a li:hover {
    color: #fdb201
}

.library-card-sign-up a:hover {
    color: #4a65bc
}

a.view-all-collections:hover i,li.collection-link:hover i {
    color: #4a65bc!important
}

div#main ul li a.subject-link:hover {
    color: #fdb201
}

[disabled].secondary {
    background: #fdb201!important;
    color: #000!important
}

[disabled].primary {
    background: #4a65bc!important;
    color: #fff!important
}

span.selected,span.selected:hover {
    border-color: #fdb201
}

.collection-link.primary-color-hover:hover span.selected {
    border-color: #4a65bc
}

p .read-more-link {
    -webkit-box-shadow: -4px 0 3px #4a65bc;
    -moz-box-shadow: -4px 0 3px #4a65bc;
    box-shadow: -4px 0 3px #4a65bc
}

.title-name a:hover {
    color: #4a65bc
}

.star-ratings-container.user-rating .icon-star:before {
    color: #4a65bc
}

.languageLinkCheckbox {
    color: #4a65bc
}

.SearchResultMessage-dismiss {
    color: #fdb201
}

.Autocompletions .Autocompletions-item.is-active {
    border-left: solid 2px #fdb201!important
}

.Pagination-itemContainer.is-current .Pagination-item {
    border: 2px solid #4a65bc!important;
    color: #4a65bc!important
}

.Facets-sectionListItem:hover .Facets-sectionListItemLink {
    color: #fdb201
}

.Nav-searchIcon--desktop.is-selected {
    border-bottom: 2px solid #fdb201
}

.Nav-searchIcon--desktop.is-submit {
    color: #fdb201
}

.Nav-searchIconContainer:hover .Nav-searchIcon--desktop,.Nav-searchIconContainer:hover .Nav-searchText {
    color: #fdb201
}

.TitleDetailsDescription-reviewReadMore {
    color: #fdb201
}

.TitleDetailsDescription-reviewReadMore:hover {
    color: #f3a800!important
}

.AccountRecommendations-toggleItem,.WishlistToggle-item {
    color: #4a65bc
}

.AccountRecommendations-toggleItem:hover,.WishlistToggle-item:hover {
    color: #fdb201
}

.AccountRecommendations-toggleItem.is-active,.WishlistToggle-item.is-active {
    border-bottom-color: #4a65bc
}

.AccountRecommendations-toggleItem.is-active:hover,.WishlistToggle-item.is-active:hover {
    border-bottom-color: #fdb201
}

.Nav-signInWrapper:hover .Nav-signIn {
    background: #f3a800!important
}

.Nav-collectionsLink:hover .Nav-collectionsDropArrow,.Nav-myAccount--desktop:hover .Nav-accountDropArrow {
    color: #fdb201!important
}

.Nav-collectionsDropLink.open .Nav-collectionsDropArrow {
    color: #fdb201!important
}

.MobileNav-roomLibraryName,.Nav-room-logo--desktop {
    color: #fdb201!important
}

.help-tip:before {
    color: #000
}

.Nav .Nav-advantageToutSignIn,.Nav .Nav-advantageToutSignIn:hover {
    color: #000!important
}

.MobileNav-advantageToutSignin,.MobileNav-advantageToutSignin:hover {
    color: #000
}

.Facets-infoIcon {
    color: #fdb201
}

.ContextMenu-button:focus i:before,.ContextMenu-button:hover i:before {
    color: #fdb201
}

.customFooter a {
    color: #4a65bc
}

.customFooter a:hover {
    color: #fdb201
}

.DesktopNavLinks .DesktopNavLinks-languageDropdown-globe {
    color: $gray-dark
}

.DesktopNavLinks .DesktopNavLinks-link {
    color: #222
}

.DesktopNavLinks .DesktopNavLinks-link a:hover {
    color: #222
}

.Nav-accountDropArrow {
    color: #222
}

.Nav-collectionsDropArrow {
    color: #222
}

.Nav-searchIcon--desktop {
    color: #222
}

.Nav-bookshelfIcon--desktop {
    color: #222
}

.Nav-advancedSearch {
    color: #222
}

.Nav-advancedSearchCaret {
    color: #222
}

.getACardPromoHeader p {
    color: #222
}

.MobileNav {
    background-color: #fff;
    color: #222
}

.MobileNav-bookshelfIcon {
    color: #222
}

.MobileNav-hamburgerIcon {
    color: #222
}

.MobileNav-submitSearch {
    color: #222
}

.body:not(.is-contrasted) .MobileNav-advancedSearch {
    color: #000;
    background-color: #fff
}

.MobileNav-searchInput {
    background: 0 0!important
}

.body:not(.is-contrasted) .Nav .Nav-searchBar {
    border-bottom: 1px solid #ccc
}

.body.is-contrasted .Nav .Nav-searchBar {
    border-bottom: 1px solid #fff!important
}

.Nav-room-sub-logo--desktop,.body:not(.is-contrasted) .MobileNav-roomLogo {
    color: #666
}

.Nav-backToMainCollection {
    color: #222
}

.Nav-topRightLink:not(:first-child) {
    border-left: 1px solid #cdccd1
}

.search-bar input {
    background: #fff!important
}

.BrowseSubjects-link:focus,.BrowseSubjects-link:hover {
    background: #fdb201;
    color: #000!important
}

.BrowseSubjects-link:focus .sub-label,.BrowseSubjects-link:hover .sub-label {
    color: #000!important
}

.body:not(.is-contrasted) .MobileNav-clearSearchIcon,.body:not(.is-contrasted) .Nav-clearSearch {
    background: #999
}

a.close-advantage-tout {
    background: 0 0!important;
    color: #222!important
}

a.close-advantage-tout:hover {
    background: 0 0!important;
    color: #fdb201!important
}

p.advantage-tout-text {
    color: #222
}

p.advantage-tout-text:hover {
    color: #222
}

input[type=checkbox]:checked+label:before {
    color: #fdb201
}

.icon-checked:before {
    color: #fdb201
}

.top-nav-bar-Libby-Promo {
    background-color: #fff
}

.top-nav-bar-Libby-Promo .continueText .link,.top-nav-bar-Libby-Promo .continueText .link:hover {
    color: #222
}

.DesktopNavLinks .newFeatureTout {
    color: #fdb201
}

.accordion-navigation .newFeatureTout {
    color: #fdb201
}

.accordion-navigation.highlightedFeature.notVisited,.accordion-navigation.highlightedFeature.notVisited .nav-panel-icon,.accordion-navigation.highlightedFeature.notVisited .nav-panel-name {
    background-color: rgb(254.9,251.15,242.3)!important
}

.MobileNav-accountMenu .newFeatureDot {
    background-color: #fdb201;
    border-color: #fff
}

.verificationCodeInput .inputLabelBoxes .focused {
    border-color: #4a65bc
}

.SignInMainBody a {
    border-color: #fdb201
}
